<div id="image-with-content-{{ section.id }}" class="
    image-with-content
    {{ section.settings.pt | prepend: 'pt-' }}
    {{ section.settings.pb | prepend: 'pb-' }}
  " style="">
  <div class="container" style="max-width: {{ section.settings.container_max_width | append: 'px' }};">
    <div class="row {% if section.settings.content_reverse %}flex-row-reverse{% endif %} align-items-center">
      <div class="col-desktop-9">
        <div class="left-area">
          <div class="img">
            {% if section.settings.img != blank %}
              <img src="{{ section.settings.img | img_url: 'master' }}" alt="">
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'img-thumbnail' }}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-desktop-9">
        <div class="right-area">
          <h2 class="{{ section.settings.title_font_size }}">{{ section.settings.title }}</h2>
          {% if section.settings.description != blank %}
            <div class="{{ section.settings.description_font_size }}">{{ section.settings.description }}</div>
          {% endif %}
          {% if section.settings.btn_text != blank %}
            <a class="btn {{ section.settings.btn_color }}" href="{{ section.settings.btn_url }}">{{ section.settings.btn_text }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Image with content",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "img",
      "label": "Image",
      "info": "500 x 500px recommended"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "We Source Organically Grown Hemp From Family Owned Farms"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum numquam blanditiis harum quisquam</p>"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button text",
      "default": "About us",
      "info": "Leave empty to disable"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button URL"
    },
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "checkbox",
      "id": "content_reverse",
      "label": "Move image to right",
      "default": false
    },
    {
      "type": "select",
      "id": "title_font_size",
      "label": "Title font-size",
      "default": "h2",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" }
      ]
    },
    {
      "type": "select",
      "id": "description_font_size",
      "label": "Description font-size",
      "default": "fs-md",
      "options": [
        { "value": "fs-sm", "label": "sm" },
        { "value": "fs-md", "label": "md" },
        { "value": "fs-lg", "label": "lg" },
        { "value": "fs-xl", "label": "xl" },
        { "value": "fs-xxl", "label": "xxl" }
      ]
    },
    {
      "type": "select",
      "id": "btn_color",
      "label": "Button color",
      "default": "btn-primary",
      "options": [
        { "group": "Solid", "value": "btn-primary", "label": "Primary" },
        { "group": "Solid", "value": "btn-secondary", "label": "Secondary" },
        { "group": "Solid", "value": "btn-white", "label": "White" },
        { "group": "Light", "value": "btn-light-primary", "label": "Primary" },
        { "group": "Light", "value": "btn-light-secondary", "label": "Secondary" },
        { "group": "Light", "value": "btn-light-white", "label": "White" },
        { "group": "Outline", "value": "btn-outline-primary", "label": "Primary" },
        { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary" },
        { "group": "Outline", "value": "btn-outline-white", "label": "White" }
      ]
    },
    {
      "type": "text",
      "id": "container_max_width",
      "label": "Container max-width (px)",
      "info": "Leave empty to use the global container width"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 10
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 10
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "Image with content"
    }
  ]
}
{% endschema %}